.song-info {
	font-size: 1.5em;
}

.top-spacer {
	margin-top: 20px;
}

/* Always send click events to the button, not to nested elements.
 * http://stackoverflow.com/a/15698643/2720026
 */
button * {
	pointer-events: none;
}
