.command-group {
	margin-left: 10px !important;
}

.song-info {
	font-size: 1.5em;
}

.top-spacer {
	margin-top: 25px;
}

.volume-control {
	white-space: : nowrap;
	margin-top: 5px;
	margin-bottom: 5px;
}

#increase-volume, #decrease-volume {
	/* Do not allow text selection when double-clicking the volume icons */
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;

	cursor: pointer;
	cursor: hand;
}

#increase-volume {
	margin-left: 8px;
}

#decrease-volume {
	margin-right: 4px;
}

/* Always send click events to the button, not to nested elements.
 * http://stackoverflow.com/a/15698643/2720026
 */
button * {
	pointer-events: none;
}
